USE [master]
GO
/****** Object:  Database [CarDealershipDB]    Script Date: 14.04.2026 15:00:57 ******/
CREATE DATABASE [CarDealershipDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarDealershipDB', FILENAME = N'C:\Users\10230049\CarDealershipDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarDealershipDB_log', FILENAME = N'C:\Users\10230049\CarDealershipDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarDealershipDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarDealershipDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BodyTypes]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyTypes](
	[BodyType_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BodyTypes] PRIMARY KEY CLUSTERED 
(
	[BodyType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarComments]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarComments](
	[CarComment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Car_Id] [int] NOT NULL,
	[Author_Id] [int] NOT NULL,
	[CommentText] [nvarchar](2000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[IsApproved] [bit] NOT NULL,
 CONSTRAINT [PK_CarComments] PRIMARY KEY CLUSTERED 
(
	[CarComment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarImages]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarImages](
	[Image_Id] [int] IDENTITY(1,1) NOT NULL,
	[Car_Id] [int] NOT NULL,
	[ImageName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CarImages] PRIMARY KEY CLUSTERED 
(
	[Image_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Car_Id] [int] IDENTITY(1,1) NOT NULL,
	[model_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 2) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[AvailabilityStatus] [nvarchar](50) NULL,
	[Description] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Year] [int] NOT NULL,
	[Color_Id] [int] NOT NULL,
	[Mileage] [int] NOT NULL,
	[VIN] [nvarchar](17) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[Car_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarTags]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarTags](
	[CarTag_Id] [int] IDENTITY(1,1) NOT NULL,
	[Tag_Id] [int] NOT NULL,
	[Car_Id] [int] NOT NULL,
 CONSTRAINT [PK_CarTags] PRIMARY KEY CLUSTERED 
(
	[CarTag_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Color_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[Color_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Country_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Country_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryMethods]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryMethods](
	[DeliveryMethods_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DeliveryMethods] PRIMARY KEY CLUSTERED 
(
	[DeliveryMethods_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EngineTypes]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EngineTypes](
	[EngineType_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EngineTypes] PRIMARY KEY CLUSTERED 
(
	[EngineType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Feedback_Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserName] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsProcessed] [bit] NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
	[ProcessedBy] [nvarchar](100) NULL,
	[AdminComment] [nvarchar](max) NULL,
	[IsClosed] [bit] NOT NULL,
	[IsClosedByUser] [bit] NOT NULL,
	[IsReadByUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Feedback_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Manufacturer_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Country_Id] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[Manufacturer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[Model_Id] [int] IDENTITY(1,1) NOT NULL,
	[Manufacturer_Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BodyType_Id] [int] NOT NULL,
	[EngineType_Id] [int] NOT NULL,
	[Power] [int] NOT NULL,
	[Transmission_Id] [int] NOT NULL,
 CONSTRAINT [PK_Models] PRIMARY KEY CLUSTERED 
(
	[Model_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItem_Id] [int] IDENTITY(1,1) NOT NULL,
	[Order_Id] [int] NOT NULL,
	[Car_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtPurchase] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItem_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[OrderStatus_Id] [int] NOT NULL,
	[OrderMethod_Id] [int] NOT NULL,
	[DeliveryMethod_Id] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CompleteDate] [datetime2](7) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[OrderStatus_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[OrderStatus_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethods_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[PaymentMethods_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCarts]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCarts](
	[ShoppingCart_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Car_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ShoppingCarts] PRIMARY KEY CLUSTERED 
(
	[ShoppingCart_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusSupplies]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusSupplies](
	[StatusSupply_Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusSupplies] PRIMARY KEY CLUSTERED 
(
	[StatusSupply_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Supplier_Id] [int] IDENTITY(1,1) NOT NULL,
	[ContactPerson] [nvarchar](200) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Supplier_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplies]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplies](
	[Supply_Id] [int] IDENTITY(1,1) NOT NULL,
	[Supplier_Id] [int] NOT NULL,
	[Car_Id] [int] NOT NULL,
	[Status_Id] [int] NOT NULL,
 CONSTRAINT [PK_Supplies] PRIMARY KEY CLUSTERED 
(
	[Supply_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Tag_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Tag_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transmissions]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transmissions](
	[Transmission_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Transmissions] PRIMARY KEY CLUSTERED 
(
	[Transmission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Role_Id] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[Discount] [decimal](5, 4) NOT NULL,
	[PassportData] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 14.04.2026 15:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[Wishlist_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Car_Id] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Wishlists] PRIMARY KEY CLUSTERED 
(
	[Wishlist_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260403083619_CarDelership', N'8.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260406061405_CarDeleship6', N'8.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260407062743_CarDeleship9', N'8.0.25')
GO
SET IDENTITY_INSERT [dbo].[BodyTypes] ON 

INSERT [dbo].[BodyTypes] ([BodyType_Id], [Name]) VALUES (1, N'Седан')
INSERT [dbo].[BodyTypes] ([BodyType_Id], [Name]) VALUES (2, N'Хэтчбек')
INSERT [dbo].[BodyTypes] ([BodyType_Id], [Name]) VALUES (3, N'Универсал')
SET IDENTITY_INSERT [dbo].[BodyTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[CarComments] ON 

INSERT [dbo].[CarComments] ([CarComment_Id], [Car_Id], [Author_Id], [CommentText], [CreatedAt], [ApprovedAt], [ApprovedBy], [IsApproved]) VALUES (1, 1, 11, N'Отличный автомобиль за свои деньги!', CAST(N'2026-04-03T13:01:20.0933333' AS DateTime2), CAST(N'2026-04-14T14:47:24.0848353' AS DateTime2), N'?????????????', 1)
INSERT [dbo].[CarComments] ([CarComment_Id], [Car_Id], [Author_Id], [CommentText], [CreatedAt], [ApprovedAt], [ApprovedBy], [IsApproved]) VALUES (2, 6, 11, N'Очень довольна покупкой, машина комфортная и надежная.', CAST(N'2026-04-05T13:01:20.0933333' AS DateTime2), CAST(N'2026-04-14T14:47:22.6834015' AS DateTime2), N'?????????????', 1)
INSERT [dbo].[CarComments] ([CarComment_Id], [Car_Id], [Author_Id], [CommentText], [CreatedAt], [ApprovedAt], [ApprovedBy], [IsApproved]) VALUES (3, 13, 12, N'Лучший городской кроссовер!', CAST(N'2026-04-10T15:52:28.1618292' AS DateTime2), CAST(N'2026-04-14T14:47:17.9880977' AS DateTime2), N'?????????????', 1)
SET IDENTITY_INSERT [dbo].[CarComments] OFF
GO
SET IDENTITY_INSERT [dbo].[CarImages] ON 

INSERT [dbo].[CarImages] ([Image_Id], [Car_Id], [ImageName]) VALUES (1, 4, N'bmw-3series-1.jpg')
INSERT [dbo].[CarImages] ([Image_Id], [Car_Id], [ImageName]) VALUES (2, 13, N'bmw-x3-1.jpg')
INSERT [dbo].[CarImages] ([Image_Id], [Car_Id], [ImageName]) VALUES (3, 5, N'bmw-x5-1.jpg')
SET IDENTITY_INSERT [dbo].[CarImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Car_Id], [model_Id], [Quantity], [Price], [DiscountPrice], [Name], [AvailabilityStatus], [Description], [CreatedAt], [Year], [Color_Id], [Mileage], [VIN]) VALUES (1, 1, 3, CAST(1200000.00 AS Decimal(18, 2)), CAST(1150000.00 AS Decimal(18, 2)), N'LADA Vesta 2024', N'Под заказ', N'Новый автомобиль', CAST(N'2026-04-08T13:01:20.0300000' AS DateTime2), 2024, 1, 0, N'XTA1111111111111')
INSERT [dbo].[Cars] ([Car_Id], [model_Id], [Quantity], [Price], [DiscountPrice], [Name], [AvailabilityStatus], [Description], [CreatedAt], [Year], [Color_Id], [Mileage], [VIN]) VALUES (2, 10, 2, CAST(1150000.00 AS Decimal(18, 2)), CAST(1130000.00 AS Decimal(18, 2)), N'LADA Niva 2024', N'Под заказ', N'Новый автомобиль', CAST(N'2026-04-08T13:01:20.0300000' AS DateTime2), 2024, 2, 0, N'XTA2222222222222')
INSERT [dbo].[Cars] ([Car_Id], [model_Id], [Quantity], [Price], [DiscountPrice], [Name], [AvailabilityStatus], [Description], [CreatedAt], [Year], [Color_Id], [Mileage], [VIN]) VALUES (3, 2, 8, CAST(850000.00 AS Decimal(18, 2)), CAST(800000.00 AS Decimal(18, 2)), N'LADA Granta 2024', N'В наличии', N'Доступный автомобиль', CAST(N'2026-04-08T13:01:20.0300000' AS DateTime2), 2024, 4, 0, N'XTA3333333333333')
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[CarTags] ON 

INSERT [dbo].[CarTags] ([CarTag_Id], [Tag_Id], [Car_Id]) VALUES (1, 1, 1)
INSERT [dbo].[CarTags] ([CarTag_Id], [Tag_Id], [Car_Id]) VALUES (2, 1, 8)
INSERT [dbo].[CarTags] ([CarTag_Id], [Tag_Id], [Car_Id]) VALUES (3, 5, 4)
SET IDENTITY_INSERT [dbo].[CarTags] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([Color_Id], [Name]) VALUES (1, N'Белый')
INSERT [dbo].[Colors] ([Color_Id], [Name]) VALUES (2, N'Черный')
INSERT [dbo].[Colors] ([Color_Id], [Name]) VALUES (3, N'Серебристый')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Country_Id], [Name]) VALUES (1, N'Россия')
INSERT [dbo].[Countries] ([Country_Id], [Name]) VALUES (2, N'Германия')
INSERT [dbo].[Countries] ([Country_Id], [Name]) VALUES (3, N'Япония')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[DeliveryMethods] ON 

INSERT [dbo].[DeliveryMethods] ([DeliveryMethods_Id], [Name], [Price]) VALUES (1, N'Самовывоз', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DeliveryMethods] ([DeliveryMethods_Id], [Name], [Price]) VALUES (2, N'Доставка по городу', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[DeliveryMethods] ([DeliveryMethods_Id], [Name], [Price]) VALUES (3, N'Доставка по области', CAST(1500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DeliveryMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[EngineTypes] ON 

INSERT [dbo].[EngineTypes] ([EngineType_Id], [Name]) VALUES (1, N'Бензиновый')
INSERT [dbo].[EngineTypes] ([EngineType_Id], [Name]) VALUES (2, N'Дизельный')
INSERT [dbo].[EngineTypes] ([EngineType_Id], [Name]) VALUES (3, N'Электрический')
SET IDENTITY_INSERT [dbo].[EngineTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([Feedback_Id], [UserId], [UserName], [Name], [Email], [Subject], [Message], [CreatedAt], [IsProcessed], [ProcessedAt], [ProcessedBy], [AdminComment], [IsClosed], [IsClosedByUser], [IsReadByUser]) VALUES (1, 0, N'Царев Алексей Дмитриевич', N'Алексей', N'alex@mail.ru', N'Предложение', N'кполпов', CAST(N'2026-04-14T14:08:49.7119651' AS DateTime2), 1, CAST(N'2026-04-14T14:13:26.1575163' AS DateTime2), N'?????????????', N'большое спасибо', 0, 0, NULL)
INSERT [dbo].[Feedbacks] ([Feedback_Id], [UserId], [UserName], [Name], [Email], [Subject], [Message], [CreatedAt], [IsProcessed], [ProcessedAt], [ProcessedBy], [AdminComment], [IsClosed], [IsClosedByUser], [IsReadByUser]) VALUES (2, 0, N'Царев Алексей Дмитриевич', N'Алексей', N'alex@mail.ru', N'Вопрос о товаре', N'Какая бмв лучше х5 или х3?', CAST(N'2026-04-14T14:17:39.5450404' AS DateTime2), 1, CAST(N'2026-04-14T14:18:27.9906733' AS DateTime2), N'?????????????', N'Х5 гораздо лучше', 0, 0, NULL)
INSERT [dbo].[Feedbacks] ([Feedback_Id], [UserId], [UserName], [Name], [Email], [Subject], [Message], [CreatedAt], [IsProcessed], [ProcessedAt], [ProcessedBy], [AdminComment], [IsClosed], [IsClosedByUser], [IsReadByUser]) VALUES (3, 0, N'Царев Алексей Дмитриевич', N'Алексей', N'alex@mail.ru', N'Вопрос о товаре', N'Когда появятся новые машины в наличии?', CAST(N'2026-04-14T14:32:48.2098536' AS DateTime2), 1, CAST(N'2026-04-14T14:33:35.0276601' AS DateTime2), N'?????????????', N'На следующей неделе)', 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([Manufacturer_Id], [Name], [Country_Id], [Description]) VALUES (16, N'LADA', 1, N'?????????? ?????????????')
INSERT [dbo].[Manufacturers] ([Manufacturer_Id], [Name], [Country_Id], [Description]) VALUES (17, N'BMW', 2, N'???????? ?????????????')
INSERT [dbo].[Manufacturers] ([Manufacturer_Id], [Name], [Country_Id], [Description]) VALUES (18, N'Toyota', 3, N'???????? ?????????????')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([Model_Id], [Manufacturer_Id], [Name], [BodyType_Id], [EngineType_Id], [Power], [Transmission_Id]) VALUES (1, 16, N'Vesta', 1, 1, 106, 2)
INSERT [dbo].[Models] ([Model_Id], [Manufacturer_Id], [Name], [BodyType_Id], [EngineType_Id], [Power], [Transmission_Id]) VALUES (2, 16, N'Granta', 1, 1, 90, 1)
INSERT [dbo].[Models] ([Model_Id], [Manufacturer_Id], [Name], [BodyType_Id], [EngineType_Id], [Power], [Transmission_Id]) VALUES (3, 17, N'3 Series', 1, 1, 184, 2)
SET IDENTITY_INSERT [dbo].[Models] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItem_Id], [Order_Id], [Car_Id], [Quantity], [PriceAtPurchase]) VALUES (1, 1, 1, 1, CAST(1150000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([OrderItem_Id], [Order_Id], [Car_Id], [Quantity], [PriceAtPurchase]) VALUES (2, 2, 4, 1, CAST(4400000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([OrderItem_Id], [Order_Id], [Car_Id], [Quantity], [PriceAtPurchase]) VALUES (3, 3, 8, 1, CAST(1250000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_Id], [OrderNumber], [OrderStatus_Id], [OrderMethod_Id], [DeliveryMethod_Id], [CreatedDate], [CompleteDate], [TotalAmount], [User_Id]) VALUES (1, N'ORD-001', 7, 2, 1, CAST(N'2026-03-29T13:01:20.0666667' AS DateTime2), CAST(N'2026-04-05T13:01:20.0666667' AS DateTime2), CAST(1150000.00 AS Decimal(18, 2)), 11)
INSERT [dbo].[Orders] ([Order_Id], [OrderNumber], [OrderStatus_Id], [OrderMethod_Id], [DeliveryMethod_Id], [CreatedDate], [CompleteDate], [TotalAmount], [User_Id]) VALUES (2, N'ORD-002', 3, 2, 2, CAST(N'2026-04-06T13:01:20.0666667' AS DateTime2), NULL, CAST(4400000.00 AS Decimal(18, 2)), 11)
INSERT [dbo].[Orders] ([Order_Id], [OrderNumber], [OrderStatus_Id], [OrderMethod_Id], [DeliveryMethod_Id], [CreatedDate], [CompleteDate], [TotalAmount], [User_Id]) VALUES (3, N'ORD-003', 1, 1, 1, CAST(N'2026-04-08T13:01:20.0666667' AS DateTime2), NULL, CAST(1250000.00 AS Decimal(18, 2)), 11)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatuses] ON 

INSERT [dbo].[OrderStatuses] ([OrderStatus_Id], [Name]) VALUES (1, N'Новый')
INSERT [dbo].[OrderStatuses] ([OrderStatus_Id], [Name]) VALUES (2, N'Подтвержден')
INSERT [dbo].[OrderStatuses] ([OrderStatus_Id], [Name]) VALUES (3, N'В обработке')
SET IDENTITY_INSERT [dbo].[OrderStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([PaymentMethods_Id], [Name]) VALUES (1, N'Наличные')
INSERT [dbo].[PaymentMethods] ([PaymentMethods_Id], [Name]) VALUES (2, N'Банковская карта')
INSERT [dbo].[PaymentMethods] ([PaymentMethods_Id], [Name]) VALUES (3, N'Кредит')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Role_Id], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([Role_Id], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([Role_Id], [Name]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingCarts] ON 

INSERT [dbo].[ShoppingCarts] ([ShoppingCart_Id], [User_Id], [Car_Id], [Quantity], [AddedAt]) VALUES (1, 11, 9, 1, CAST(N'2026-04-08T13:01:20.0866667' AS DateTime2))
INSERT [dbo].[ShoppingCarts] ([ShoppingCart_Id], [User_Id], [Car_Id], [Quantity], [AddedAt]) VALUES (2, 11, 2, 1, CAST(N'2026-04-08T13:01:20.0900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ShoppingCarts] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusSupplies] ON 

INSERT [dbo].[StatusSupplies] ([StatusSupply_Id], [StatusName]) VALUES (1, N'Создано')
INSERT [dbo].[StatusSupplies] ([StatusSupply_Id], [StatusName]) VALUES (2, N'В пути')
INSERT [dbo].[StatusSupplies] ([StatusSupply_Id], [StatusName]) VALUES (3, N'Завершено')
SET IDENTITY_INSERT [dbo].[StatusSupplies] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Supplier_Id], [ContactPerson], [Name], [Phone], [Email], [Address]) VALUES (1, N'Иванов Иван', N'ООО "АвтоСнаб"', N'+7 (495) 123-45-67', N'info@avtosnab.ru', N'г. Москва, ул. Автозаводская, 1')
INSERT [dbo].[Suppliers] ([Supplier_Id], [ContactPerson], [Name], [Phone], [Email], [Address]) VALUES (2, N'Петров Петр', N'ЗАО "Тойота Центр"', N'+7 (812) 234-56-78', N'sales@toyota-center.ru', N'г. Санкт-Петербург, пр. Московский, 100')
INSERT [dbo].[Suppliers] ([Supplier_Id], [ContactPerson], [Name], [Phone], [Email], [Address]) VALUES (3, N'Сидоров Сидор', N'ООО "БМВ Рус"', N'+7 (495) 345-67-89', N'info@bmw-rus.ru', N'г. Москва, ул. Ленинская, 50')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplies] ON 

INSERT [dbo].[Supplies] ([Supply_Id], [Supplier_Id], [Car_Id], [Status_Id]) VALUES (1, 1, 1, 3)
INSERT [dbo].[Supplies] ([Supply_Id], [Supplier_Id], [Car_Id], [Status_Id]) VALUES (2, 1, 3, 3)
INSERT [dbo].[Supplies] ([Supply_Id], [Supplier_Id], [Car_Id], [Status_Id]) VALUES (3, 2, 6, 3)
SET IDENTITY_INSERT [dbo].[Supplies] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Tag_Id], [Name]) VALUES (1, N'Хит продаж')
INSERT [dbo].[Tags] ([Tag_Id], [Name]) VALUES (2, N'Новинка')
INSERT [dbo].[Tags] ([Tag_Id], [Name]) VALUES (3, N'Скидка')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[Transmissions] ON 

INSERT [dbo].[Transmissions] ([Transmission_Id], [Name]) VALUES (1, N'Механическая')
INSERT [dbo].[Transmissions] ([Transmission_Id], [Name]) VALUES (2, N'Автоматическая')
INSERT [dbo].[Transmissions] ([Transmission_Id], [Name]) VALUES (3, N'Роботизированная')
SET IDENTITY_INSERT [dbo].[Transmissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_Id], [Role_Id], [Login], [Password], [FullName], [Phone], [Email], [IsActive], [RegistrationDate], [Discount], [PassportData]) VALUES (9, 1, N'admin', N'admin123', N'?????????????', N'+79991112233', N'admin@mail.ru', 1, CAST(N'2026-04-08T12:53:52.9700000' AS DateTime2), CAST(0.0000 AS Decimal(5, 4)), N'0000 000000')
INSERT [dbo].[Users] ([User_Id], [Role_Id], [Login], [Password], [FullName], [Phone], [Email], [IsActive], [RegistrationDate], [Discount], [PassportData]) VALUES (10, 2, N'manager', N'manager123', N'?????? ????', N'+79992223344', N'manager@mail.ru', 1, CAST(N'2026-04-08T12:53:52.9800000' AS DateTime2), CAST(0.0000 AS Decimal(5, 4)), N'1111 222333')
INSERT [dbo].[Users] ([User_Id], [Role_Id], [Login], [Password], [FullName], [Phone], [Email], [IsActive], [RegistrationDate], [Discount], [PassportData]) VALUES (11, 3, N'client1', N'client123', N'???????? ???????', N'+79161234567', N'client1@mail.ru', 1, CAST(N'2026-04-08T12:53:52.9800000' AS DateTime2), CAST(5.0000 AS Decimal(5, 4)), N'1234 567890')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_CarComments_Author_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_CarComments_Author_Id] ON [dbo].[CarComments]
(
	[Author_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarComments_Car_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_CarComments_Car_Id] ON [dbo].[CarComments]
(
	[Car_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarImages_Car_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_CarImages_Car_Id] ON [dbo].[CarImages]
(
	[Car_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cars_Color_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Cars_Color_Id] ON [dbo].[Cars]
(
	[Color_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cars_model_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Cars_model_Id] ON [dbo].[Cars]
(
	[model_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarTags_Car_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_CarTags_Car_Id] ON [dbo].[CarTags]
(
	[Car_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarTags_Tag_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_CarTags_Tag_Id] ON [dbo].[CarTags]
(
	[Tag_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Manufacturers_Country_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Manufacturers_Country_Id] ON [dbo].[Manufacturers]
(
	[Country_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Models_BodyType_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Models_BodyType_Id] ON [dbo].[Models]
(
	[BodyType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Models_EngineType_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Models_EngineType_Id] ON [dbo].[Models]
(
	[EngineType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Models_Manufacturer_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Models_Manufacturer_Id] ON [dbo].[Models]
(
	[Manufacturer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Models_Transmission_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Models_Transmission_Id] ON [dbo].[Models]
(
	[Transmission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_Car_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_Car_Id] ON [dbo].[OrderItems]
(
	[Car_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_Order_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_Order_Id] ON [dbo].[OrderItems]
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_DeliveryMethod_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_DeliveryMethod_Id] ON [dbo].[Orders]
(
	[DeliveryMethod_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderStatus_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderStatus_Id] ON [dbo].[Orders]
(
	[OrderStatus_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_User_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_User_Id] ON [dbo].[Orders]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShoppingCarts_Car_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_ShoppingCarts_Car_Id] ON [dbo].[ShoppingCarts]
(
	[Car_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShoppingCarts_User_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_ShoppingCarts_User_Id] ON [dbo].[ShoppingCarts]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Supplies_Car_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Supplies_Car_Id] ON [dbo].[Supplies]
(
	[Car_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Supplies_Status_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Supplies_Status_Id] ON [dbo].[Supplies]
(
	[Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Supplies_Supplier_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Supplies_Supplier_Id] ON [dbo].[Supplies]
(
	[Supplier_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Role_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role_Id] ON [dbo].[Users]
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlists_Car_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Wishlists_Car_Id] ON [dbo].[Wishlists]
(
	[Car_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlists_User_Id]    Script Date: 14.04.2026 15:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Wishlists_User_Id] ON [dbo].[Wishlists]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarComments] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  CONSTRAINT [DF_Feedbacks_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  CONSTRAINT [DF_Feedbacks_IsProcessed]  DEFAULT ((0)) FOR [IsProcessed]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  CONSTRAINT [DF_Feedbacks_IsClosed]  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  CONSTRAINT [DF_Feedbacks_IsClosedByUser]  DEFAULT ((0)) FOR [IsClosedByUser]
GO
ALTER TABLE [dbo].[CarComments]  WITH CHECK ADD  CONSTRAINT [FK_CarComments_Cars_Car_Id] FOREIGN KEY([Car_Id])
REFERENCES [dbo].[Cars] ([Car_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarComments] CHECK CONSTRAINT [FK_CarComments_Cars_Car_Id]
GO
ALTER TABLE [dbo].[CarComments]  WITH CHECK ADD  CONSTRAINT [FK_CarComments_Users_Author_Id] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[Users] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarComments] CHECK CONSTRAINT [FK_CarComments_Users_Author_Id]
GO
ALTER TABLE [dbo].[CarImages]  WITH CHECK ADD  CONSTRAINT [FK_CarImages_Cars_Car_Id] FOREIGN KEY([Car_Id])
REFERENCES [dbo].[Cars] ([Car_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarImages] CHECK CONSTRAINT [FK_CarImages_Cars_Car_Id]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Colors_Color_Id] FOREIGN KEY([Color_Id])
REFERENCES [dbo].[Colors] ([Color_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Colors_Color_Id]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Models_model_Id] FOREIGN KEY([model_Id])
REFERENCES [dbo].[Models] ([Model_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Models_model_Id]
GO
ALTER TABLE [dbo].[CarTags]  WITH CHECK ADD  CONSTRAINT [FK_CarTags_Cars_Car_Id] FOREIGN KEY([Car_Id])
REFERENCES [dbo].[Cars] ([Car_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarTags] CHECK CONSTRAINT [FK_CarTags_Cars_Car_Id]
GO
ALTER TABLE [dbo].[CarTags]  WITH CHECK ADD  CONSTRAINT [FK_CarTags_Tags_Tag_Id] FOREIGN KEY([Tag_Id])
REFERENCES [dbo].[Tags] ([Tag_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarTags] CHECK CONSTRAINT [FK_CarTags_Tags_Tag_Id]
GO
ALTER TABLE [dbo].[Manufacturers]  WITH CHECK ADD  CONSTRAINT [FK_Manufacturers_Countries_Country_Id] FOREIGN KEY([Country_Id])
REFERENCES [dbo].[Countries] ([Country_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Manufacturers] CHECK CONSTRAINT [FK_Manufacturers_Countries_Country_Id]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_Models_BodyTypes_BodyType_Id] FOREIGN KEY([BodyType_Id])
REFERENCES [dbo].[BodyTypes] ([BodyType_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_Models_BodyTypes_BodyType_Id]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_Models_EngineTypes_EngineType_Id] FOREIGN KEY([EngineType_Id])
REFERENCES [dbo].[EngineTypes] ([EngineType_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_Models_EngineTypes_EngineType_Id]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_Models_Manufacturers_Manufacturer_Id] FOREIGN KEY([Manufacturer_Id])
REFERENCES [dbo].[Manufacturers] ([Manufacturer_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_Models_Manufacturers_Manufacturer_Id]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_Models_Transmissions_Transmission_Id] FOREIGN KEY([Transmission_Id])
REFERENCES [dbo].[Transmissions] ([Transmission_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_Models_Transmissions_Transmission_Id]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Cars_Car_Id] FOREIGN KEY([Car_Id])
REFERENCES [dbo].[Cars] ([Car_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Cars_Car_Id]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_Order_Id] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Order_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_Order_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_DeliveryMethods_DeliveryMethod_Id] FOREIGN KEY([DeliveryMethod_Id])
REFERENCES [dbo].[DeliveryMethods] ([DeliveryMethods_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_DeliveryMethods_DeliveryMethod_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatuses_OrderStatus_Id] FOREIGN KEY([OrderStatus_Id])
REFERENCES [dbo].[OrderStatuses] ([OrderStatus_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatuses_OrderStatus_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_User_Id]
GO
ALTER TABLE [dbo].[ShoppingCarts]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCarts_Cars_Car_Id] FOREIGN KEY([Car_Id])
REFERENCES [dbo].[Cars] ([Car_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCarts] CHECK CONSTRAINT [FK_ShoppingCarts_Cars_Car_Id]
GO
ALTER TABLE [dbo].[ShoppingCarts]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCarts_Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCarts] CHECK CONSTRAINT [FK_ShoppingCarts_Users_User_Id]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Cars_Car_Id] FOREIGN KEY([Car_Id])
REFERENCES [dbo].[Cars] ([Car_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Cars_Car_Id]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_StatusSupplies_Status_Id] FOREIGN KEY([Status_Id])
REFERENCES [dbo].[StatusSupplies] ([StatusSupply_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_StatusSupplies_Status_Id]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Suppliers_Supplier_Id] FOREIGN KEY([Supplier_Id])
REFERENCES [dbo].[Suppliers] ([Supplier_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Suppliers_Supplier_Id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_Role_Id] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Roles] ([Role_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_Role_Id]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Cars_Car_Id] FOREIGN KEY([Car_Id])
REFERENCES [dbo].[Cars] ([Car_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Cars_Car_Id]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Users_User_Id]
GO
USE [master]
GO
